<!--The content below is only a placeholder and can be replaced.-->
<app-nav-bar></app-nav-bar>
<!--
Multiple states and transitions can be defined within a single trigger, but we will have only one transition.
The trigger runs its transitions when its binding updates.
The binding part is done in a host component, which we’ll look at shortly.
The router outlet’s activatedRoute will be updated when navigation occurs for the given router outlet, and will therefore trigger the animation.
-->
<main [@fadeAnimation]="getRouterOutletState(o)">
  <router-outlet #o="outlet"></router-outlet>
</main>

